In [8]:
import pandas as pd
data={
    "Student":["Dinesh","karthik","venkat","Hari"],
    "Subject1":[93,94,95,69],
    "Subject2":[74,93,55,48],
    "Subject3":[63,93,51,39]
}
columnsList=["Subject1","Subject2","Subject3"]
answer=pd.DataFrame(data,columns = ["Student","Subject1","Subject2","Subject3"])
answer["Total_marks"]=answer[columnsList].sum(axis=1)
columnList1=answer["Total_marks"].tolist()
fp=[]
grade=[]

for ind in answer.index:
     if((answer["Total_marks"][ind])<200):
            fp.append("FAIL")
     else:
        fp.append("PASS")
     if((answer["Total_marks"][ind])>275):
        grade.append("O")
     elif((answer["Total_marks"][ind])>250):
        grade.append("A")
     elif((answer["Total_marks"][ind])>225):
        grade.append("B")
     elif((answer["Total_marks"][ind])>200):
        grade.append("C")
     elif((answer["Total_marks"][ind])<200):
        grade.append("RA")
    
answer["Grade"]=grade
answer["Pass/Fail"]=fp
answer.to_csv("assignment1.csv",index=True)

print(answer)

   Student  Subject1  Subject2  Subject3  Total_marks Grade Pass/Fail
0   Dinesh        93        74        63          230     B      PASS
1  karthik        94        93        93          280     O      PASS
2   venkat        95        55        51          201     C      PASS
3     Hari        69        48        39          156    RA      FAIL